body {
  font-family: Gill Sans;
  background-color: cadetblue;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: lightcyan;
}

#app {
  width: 90%;
  margin: 0 auto;
}

li.completed {
  border: 2px solid;
  color: #1a681e;
  color: black;
  background-color: cyan;
}

li.not-completed {
  border: 2px solid;
  color: black;
  background-color: lightcyan;

}

li.low {
  border: 2px solid;
  color: green;
  background-color: green;
}

li.high {
  border: 2px solid;
  color: purple;
  background-color: purple;
}






ul {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}

li {
  margin: 15px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

form {
  margin: 15px 0;
  width: 90%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
